<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
</div>
<div class="container configuratorText">
    <h2 class="middle p-5">A Volkswagen ajánlásával</h2>
</div>
<div class="container p-5 middle">
    <button class="btn">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </button>
</div>

