<div class="modal-header">
  <h4 class="modal-title">{{ isEditing ? 'Konfiguráció szerkesztése' : 'Konfiguráció megtekintése' }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <form>
    <div class="mb-3">
      <label for="configName" class="form-label">{{"MODAL.CONFIGURATORNAME" | translate}}</label>
      <input
        type="text"
        class="form-control"
        id="configName"
        [(ngModel)]="configData.configName"
        name="configName"
        [disabled]="!isEditing"
        readonly
      />
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">{{"MODAL.COLOR" | translate}}</label>
      <select
        class="form-select"
        id="color"
        [(ngModel)]="configData.color_Id"
        name="color"
        [disabled]="!isEditing"
        (ngModelChange)="onColorChange($event)"
      >
        <option *ngFor="let color of colors" [value]="color.id">{{ color.name }} ({{ color.price }} {{"MODAL.HUF" | translate}})</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="engine" class="form-label">{{"MODAL.ENGINE" | translate}}</label>
      <select
        class="form-select"
        id="engine"
        [(ngModel)]="configData.engine_Id"
        name="engine"
        [disabled]="!isEditing"
        (ngModelChange)="onEngineChange($event)"
      >
        <option *ngFor="let engine of engines" [value]="engine.id">{{ engine.name }} ({{ engine.price }} {{"MODAL.HUF" | translate}})</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="transmission" class="form-label">{{"MODAL.TRANSMISSION" | translate}}</label>
      <select
        class="form-select"
        id="transmission"
        [(ngModel)]="configData.transmissionType_Id"
        name="transmission"
        [disabled]="!isEditing"
        (ngModelChange)="onTransmissionChange($event)"
      >
        <option *ngFor="let transmission of transmissionTypes" [value]="transmission.id">
          {{ transmission.name }} ({{ transmission.price }} {{"MODAL.HUF" | translate}})
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">{{"MODAL.FULLPRICE" | translate}}</label>
      <p class="form-control-static">{{ totalPrice | number }} {{"MODAL.HUF" | translate}}</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">{{ "BUTTONS.CANCEL" | translate}}</button>
  <button *ngIf="isEditing" type="button" class="btn btn-primary" (click)="save()">{{"BUTTONS.SAVE" | translate}}</button>
</div>