<div class="modal-header">
    <h4 class="modal-title">Válassz nyelvet!</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div class="row langContainer">
        <div class="col-2 ">
            <button class="roLang"></button>
        </div>
        <div class="col-2 ">
            <button class="ukrLang"></button>
        </div>
        <div class="col-2 ">
            <button class="sloLang"></button>
        </div>
        <div class="col-2 ">
            <button class="srbLang"></button>
        </div>
        <div class="col-2 ">
            <button class="auLang"></button>
        </div>
        <div class="col-2 ">
            <button class="croLang"></button>
        </div>
    </div>
    
  </div>
