.roLang{
    height: 40px;
    background-image: url(../../assets/ro-flag.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid lightgray;
    width: 60px;
}

.langcoverer{
    height: auto;
    width: auto;
}
.ukrLang{
    height: 40px;
    background-image: url(../../assets/up-flag.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid lightgray;
    width: 60px;
}
.sloLang{
    height: 40px;
    background-image: url(../../assets/lo-flag.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid lightgray;
    width: 60px;
}
.srbLang{
    height: 40px;
    background-image: url(../../assets/ri-flag.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid lightgray;
    width: 60px;
}
.auLang{
    height: 40px;
    background-image: url(../../assets/au-flag.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid lightgray;
    width: 60px;
}
.croLang{
    height: 40px;
    background-image: url(../../assets/hr-flag.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid lightgray;
    width: 60px;
    background-position: center;
}

