<div class="modal-header">
    <h4 class="modal-title">Válassz nyelvet!</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div class="row langContainer middle">
        <div class="col-2 ">
            <button (click)="close()" (click)="translateToEn()" class="enLang"></button>
        </div>
        <div class="col-2 ">
            <button (click)="close()" (click)="translateToDe()" class="deLang"></button>
        </div>
        <div class="col-2 ">
            <button (click)="close()" (click)="translateToHu()" class="huLang"></button>
        </div>
    </div>
    
  </div>
