<div class="container">
  <div class="middle">
      <div class="mainContentContainer">
          <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 introductionBox">
                  <div class="row titleBox">
                    <h4 class="h4MainTitle">Bevezető</h4>
                  </div>
                  <div *ngFor="let item of mainData" class="row textContent">
                    <p >
                      {{item.description}}
                    </p>

                    <h4>Nagyobb gyárak helyszínei:</h4>
                    <p>{{item.factories}}</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="container">
                    <div class="row borderNone titleBox">
                      <h3 class="volkswagenTitle">Volkswagen</h3>
                      
                    </div>
                    <div style="height: 40px;"></div>
                    <div *ngFor="let item of mainData" class="row borderNone ">
                      <div class="imageBox" >
                        <img class="imageContent" [src]="apiImage" alt="asd">
                         
                      </div>
                      <div class="">
                        <h5 class="middle">Igazgató: {{item.chairman}}</h5>
                        <h5 class="middle">Profit: {{item.profit | number}}$</h5>
                      </div>

                      
                    </div>
                   </div>
                </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 middle">
                <div class="accordion">
                  <div *ngFor="let item of historyData; let i = index" class="accordion-item">
                    <div class="accordion-header" (click)="toggle(i)">
                      <h4>{{ item.title }}</h4>
                    </div>
                    <div class="accordion-body" *ngIf="item.open" (click)="toggle(i)">
                      <p>{{ item.history }}</p>
                      <p>{{item.history2}}</p>
                      <p>{{item.history3}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
