
.introduction{
    padding: 20px;
}
.volkswagenImage{
    background-image: url(../../../public/assets/VW_Werk_Altes_Heizkraftwerk_WB_edit.jpg);
    background-repeat: no-repeat;

    background-size: auto;
}

.textContent{
    height: 300px;
    padding: 40px;
}
.h4MainTitle{
    padding: 20px;
}
.volkswagenTitle{
    padding: 20px;
    text-align: center;
}
.titleBox{
    height: 50px;
    text-align: center;
}
.container {
	background-color: none;
}

.accordion {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }
  
  .accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .accordion-header {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  .accordion-body {
    padding: 10px;
    font-size: 16px;
  }
  
  