<div class="container">
  <div class="middle">
      <div class="mainContentContainer">
          <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 introductionBox">
                  <div class="row titleBox">
                    <h4 class="h4MainTitle">What is Lorem Ipsum?</h4>
                  </div>
                  <div class="row textContent">
                    <p *ngFor="let item of mainData">
                      {{item.description}}
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="container">
                    <div class="row borderNone titleBox">
                      <h3 class="volkswagenTitle">Volkswagen</h3>
                    </div>
                    <div class="row borderNone textContent">
                      <div class="volkswagenImage"></div>
                    </div>
                   </div>
                </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 middle">
                <div class="accordion">
                  <div *ngFor="let item of historyData; let i = index" class="accordion-item">
                    <div class="accordion-header" (click)="toggle(i)">
                      <h4>{{ item.title }}</h4>
                    </div>
                    <div class="accordion-body" *ngIf="item.open" (click)="toggle(i)">
                      <p>{{ item.history }}</p>
                      <br>
                      <p>{{item.history2}}</p>
                      <br>
                      <p>{{item.history3}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
