<div class="middle">
    <div class="mainContentContainer">
        <div class="row">
            <div class="col-8 introductionBox">
              <div class="row titleBox">
                <h4>What is Lorem Ipsum?</h4>
              </div>
              <div class="row textContent">
                <p >
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  It was popularised in the 1960s with the release of Letraset sheets containing
                  Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
              </p>
              </div>
            </div>
            <div class="col-4">
              <div class="row borderNone titleBox">
                <h3 class="volkswagenTitle">Volkswagen</h3>
              </div>
              <div class="row borderNone textContent">
                <div class="volkswagenImage"></div>
              </div>
                
            </div>
            <div class="container mt-4">
                <div class="accordion" id="accordionExample">
                  
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                        Első elem
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        Ez az első elem tartalma.
                      </div>
                    </div>
                  </div>
              
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                        Második elem
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                        Ez a második elem tartalma.
                      </div>
                    </div>
                  </div>
              
                </div>
              </div>
              
              
        </div>
        
    </div>

</div>


