.mainPageLangContainer{
    height: 60px;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainPageContainer{
    height: 80px;
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    height: 80px;
    text-decoration: none;
    color: black;
}
a:hover{
    text-shadow: 1px 1px 2px gray;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    text-shadow: 1px 1px 2px black;
}


.btn{
    border: none;
    font-size: 16pt;
    height: 60px;
}

.languageImage{
    margin-top: 25px;
    height: 30px;
    background-image: url(../../assets/magyarzaszlo-min.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 60px;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}




