<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
</div>

<div class="container configuratorText">
    <h2 class="middle p-5">Válasszon modellt!</h2>
</div>
<div *ngFor="let item of configurators; let i = index" class="container middle p-5">
    <button class="btn" (click)="navigateToCar()">
        <div *ngIf="getEngineData(item.engine_Id) as engine;" class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" >{{engine.name}}</p>
              <p class="card-text" >{{engine.fuelConsumption}}</p>
              <p class="card-text" >{{engine.fuelType}}</p>
              <p class="card-text" >{{engine.horsePower}}</p>
              <p class="card-text" >{{engine.co2Emission}}</p>
            </div>
          </div>
    </button>
</div>






