<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
</div>

<div class="container configuratorText">
    <h2 class="middle p-5">Válasszon modellt!</h2>
</div>

<div class="container middle p-5">
    <button (click)="navigateToCar()">
        <div class="card">
            <img *ngIf="cardImage" [src]="cardImage" class="card-img-top" alt="Golf Car Image">
            <div class="card-body">
                <h2 class="card-text">Golf</h2> 
            </div>
        </div>
    </button>
</div>

<div *ngIf="!cardImage" class="container middle p-5">
    <p>A kép betöltése folyamatban van vagy hiba történt.</p>
</div>