.card{
    border: none;
    height: 300px;
    width: 350px;
    border: 2px solid gray;
}
.card:hover{
    box-shadow: 4px 4px 4px 4px gray;
}
.card-img-top{
    height: 100%;
    width: 100%;
}
button{
    border: none;
    background-color: white;
}


