<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
</div>
<div class="container">
    <div class="middle">
        <div  class="mainContentContainer">
            <div  *ngFor="let item of cardData; let i = index" class="col-12 middle mt-3"><h3 >{{item.name}}</h3></div>
            <div class="container mt-5">
                <div class="row">
                    <div *ngFor="let item of cardData; let i = index" class="col-4 gallery">
                        <img [src]="selectedCardImage" alt="{{ item.name }}" >
                    </div>
                    <div *ngFor="let item of cardData; let i = index" class="col-8 cardDescription p-5 pt-0">
                        <p class="p-3 paragraphDescription">{{item.description}}</p>
                    </div>
                    
                </div>
            </div>
            <div  class="col-12 middle mt-5 mb-5"><button class="btn btn-danger" (click)="navigateToDetail()">Vissza</button></div>
        </div>
    </div>
</div>
  
