<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
</div>
<div class="container p-5 ">
    <div class="row">
        <div class="col-6 middle">
            <div class="container middle">
                <img *ngIf="selectedColorId" [src]="cardImages[selectedColorId]" alt="Autó képe">
            </div>
        </div>
        <div class="col-6 middle">

            <div class="container fullBorder">
                <h2 class="middle p-4 pb-0">Válassz egy külső színt!</h2>
                <div class="middle">
                    <button class="circleButton" *ngFor="let color of colors" (click)="selectColor(color.id)"
                        [style.backgroundColor]="color.colorCode">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>