<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
</div>
<div class="middle">
    <div class="loginMainContainer">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="#">
                    <h1>{{ 'LOGIN.CREATE' | translate }}</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                    <span>or use your email for registration</span>
                    <input type="username"  [(ngModel)]="registerData.username" name="username" required placeholder="Username"/>
                    <input type="email"  [(ngModel)]="registerData.email" name="email" required placeholder="Email" />
                    <input type="password" [(ngModel)]="registerData.password" name="password" required placeholder="Password" />
                    <button type="submit" (click)="signUp()">{{ 'LOGIN.SIGNUP' | translate }}</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>{{ 'LOGIN.SIGNIN' | translate }}</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input type="username" id="username" [(ngModel)]="loginData.username" name="username" required placeholder="Username"/>
                    <input type="password" id="password" [(ngModel)]="loginData.password" name="password" required placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <button type="submit" (click)="onSubmit()" >{{ 'LOGIN.SIGNIN' | translate }}</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>{{ 'LOGIN.WELCOME' | translate }}</h1>
                        <p>{{ 'LOGIN.LOGINTEXT' | translate }}</p>
                        <button class="ghost" (click)="animation()" id="signIn">{{ 'LOGIN.SIGNIN' | translate }}</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>{{ 'LOGIN.WELCOME2' | translate }}</h1>
                        <p>{{ 'LOGIN.REGISTERTEXT' | translate }}</p>
                        <button class="ghost" (click)="animation()" id="signUp">{{ 'LOGIN.SIGNUP' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
