<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
  <app-navbar></app-navbar>
</div>

<div class="container">
  <div class="middle">
    <div class="mainContentContainer">
      <div class="mt-5" *ngIf="userData">
        <div class="middle">
          <h2>Üdvözöllek!</h2>
        </div>
        <div class="middle">
          <p>Email címed: {{ userData.email }}</p>
        </div>
        <div class="middle mt-3"><button class="btn bg-danger" (click)="logout()">Kijelentkezés</button></div>
      </div>
      <div class="middle m-5 mb-0"><h1>Konfigurációi</h1></div>
    </div>
  </div>
  <div class="middle">
      <div class="mainContentContainer">
          <div class="row rowPadding justify-content-center">
              <ng-container *ngIf="configurator.length > 0; else noConfigs">
                <div *ngFor="let config of configurator" class="col-12 col-md-6 col-lg-4 middle p-4">
                  <div class="card" (click)="openModal(config)">
                      <img [src]="cardImages[config.color_Id]" alt="Card Image" class="card-img-top" />
                      <div class="card-body text-center">
                          <h4 class="card-text">{{ config.configName }}</h4>
                      </div>
                      <div class="row p-2">
                        <div class="col-6 middle"><button class="btn btn-warning btn-sm me-2 border-0" (click)="startEditing(config.id!); $event.stopPropagation()">✏️</button></div>
                        <div class="col-6 middle "><button class="btn btn-danger btn-sm border-0" (click)="deleteConfig(config.id!); $event.stopPropagation()">🗑️</button></div>
                      </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noConfigs>
                  <div class="col-12 text-center">
                      <h4>Még nincsenek konfigurációid</h4>
                      <p>Szeretnél csinálni egyet?</p>
                      <button class="btn-success" (click)="navigateToConfigurator()">Kattints rám!</button>
                  </div>
              </ng-template>
          </div>
      </div>
  </div>
</div>