.imageContainer{
    height: 300px;
}
.gallery{
    width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: scale-down;
  border-radius: 10px;
}
.divinder{
  height: 1px;
  width: 100%;
  border-bottom: 1px solid black;
}
.buttonStyle{
  border: none;
}

button{
  border: 1px solid white;
  border-radius: 15px;
  padding: 7px;
}
.card{
  background-color: lightgray;
  color: black;

}

.logoContainer{
  height: 50px;
}
.logo{
  width: 100%;
  height: auto;
  max-height: 75px;
  max-width: 75px;
  border-radius: 50%;
}

.dataContainer{
  height: 150px;
  width: 100%;
  background-color: blue;
  margin-top: 100px;
}
.ionIcons{
  color: white;
}

.secondTitle{
  margin-top: 6%;
}

.secondImageContainer{
  margin-top: 6%;
}
.col-2{
  padding: 0;
}
.row{
  margin: 0;
}
.circleButton {
  height: clamp(40px, 5vw, 50px); 
  width: clamp(40px, 5vw, 50px);
  border-radius: 50%;
  padding: clamp(15px, 2vw, 20px);
  margin: 0 clamp(4px, 1vw, 8px);
  border: 2px solid black;
  margin-bottom: clamp(10px, 2vw, 20px);
}
