/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';


.mainContentContainer{
    height: auto;
    width: 100%;  
    border: 2px solid lightgray;
    border-top: none;
    border-bottom: none;
}


.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderNone{
    border: none;
}
.rowPadding{
    padding: 40px;
}