.footerContainer {
    background-color: blue;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
}
.templateParagraph{
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderRight{
    border-right: 3px solid black;
}

.col-2.middle.borderRight {
    display: flex;
    flex-direction: column;
  }

  button {
    border: none;
    padding: 15px;
    background: lightgray;
    border: 2px solid black;
    border-radius: 15px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
}

a {
    color: #31be31; 
    text-decoration: underline; 
    transition: color 0.3s ease; 
    cursor: pointer;
}

a:visited {
    color: #3CB371;
}

a:hover,
a:visited:hover {
    color: #00ff00; 
}

a:active,
a:visited:active {
    color: #006400; 
}




