<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
  </div>
  <div class="container">
    <div class="middle">
      <div class="mainContentContainer rowPadding">
        <div class="filter-section" style="display: flex; flex-wrap: wrap; gap: 1rem; align-items: flex-end; margin-bottom: 1.5rem;">
          <div class="filter-group">
            <label for="yearFilter">{{"SALESGRAPH.FILTER" | translate}}</label><br />
            <select id="yearFilter" (change)="onYearChange($event)" class="form-select">
              <option value="all">{{"SALESGRAPH.ALLYEAR" | translate}}</option>
              <option *ngFor="let range of availableYearRanges" [value]="range.start">
                {{ range.start }}–{{ range.end }}
              </option>
            </select>
          </div>

          <div class="filter-group">
            <label for="startYear">{{"SALESGRAPH.STARTYEAR" | translate}}</label><br />
            <input type="number" id="startYear" [(ngModel)]="startYear" class="form-control" />
          </div>
        
          <div class="filter-group">
            <label for="endYear">{{"SALESGRAPH.ENDYEAR" | translate}}</label><br />
            <input type="number" id="endYear" [(ngModel)]="endYear" class="form-control" />
          </div>

          <div class="filter-group">
            <button class="btn btn-primary" style="margin-top: 1.6rem;" (click)="onCustomRangeFilter()">{{"BUTTONS.FILTER" | translate}}</button>
          </div>
        </div>
        
  
        <div class="chartContainer">
          <div class="chart-container">
            <canvas id="MyChart">{{ chart }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>