<app-navbar></app-navbar>
<div class="middle">
    <div class="mainContentContainer">
        <div class="row rowPadding">
            <div *ngFor="let image of cardData" class="col-4">
                <div  class="card" style="width: 18rem;">
                    <img [src]="image.image" class="card-img-top" [alt]="image.text">
                    <div class="card-body">
                      <p class="card-text">{{ image.text}}</p>
                    </div>
                </div>
            </div>
            
        </div>

        
    </div>
</div>
