<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
</div>
<div class="container">
    
    <div class="middle">
        <div class="mainContentContainer">
            <div class="row rowPadding justify-content-center">
                
                <div *ngFor="let card of cardData" class="col-12 col-md-6 col-lg-4 middle">
                    
                    <button (click)="navigateToDetail(card.id)" class="no-underline">
                        <div class="card">
                            <img [src]="cardImages[card.id]" alt="Card Image" class="card-img-top" />
                            <div class="card-body text-center">
                                <p class="card-text">{{ card.name }}</p>
                                
                            </div>
                            
                        </div>
                        <div *ngIf="isAdmin" class="card-footer text-center">
                            <button class="btn btn-danger btn-sm" (click)="onDeleteItem(card.id); $event.stopPropagation()" >🗑️</button>
                        </div>
                    </button>
                    
                </div>
                <div *ngIf="isAdmin" class=" mb-3 middle">
                    <div class="btn"><button class="btn  middle" (click)="onAddItem()">➕ Hozzáadás</button></div>
                </div>
            </div>
        </div>
    </div>
</div>