.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0;
}

.card {
    height: 250px;
    border: 2px solid black;
    width: 100%;
    max-width: 300px;
    margin: 15px;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 8px 4px 4px gray;
}

.card-img-top {
    height: 100%;
    width: 100%;
}

button {
    border: none;
    padding: 0;
    background: none;
}

.col-4 {
    margin-bottom: 50px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px); 
}


@media (max-width: 768px) {
    .col-4 {
        flex: 0 0 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .col-4 {
        flex: 0 0 100%; 
        max-width: 100%;
    }
}