.mainContentContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    border: 2px solid black;
}
.card-img-top {
    height: 200px;
    object-fit: cover; /* A képek arányait megtartva jelenjenek meg */
}

button{
    border: none;
    padding: 0;
}
.col-4 {
    margin-bottom: 50px;
}


