<div class="bg-light" style="display: flex; justify-content: center; border-bottom: 2px solid lightgray;">
    <app-navbar></app-navbar>
</div>
<div class="container">
    <div class="middle">
        <div class="mainContentContainer">
            <div class="row rowPadding justify-content-center">
                <div *ngFor="let card of cardData" class="col-12 col-md-6 col-lg-4 middle">
                    <button (click)="navigateToDetail(card.id)" class="no-underline">
                        <div class="card">
                            <img [src]="cardImages[card.id] || 'placeholder-image.jpg'" alt="Card Image" class="card-img-top" />
                            <div class="card-body text-center">
                                <p class="card-text">{{ card.name }}</p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>